name: Build 4cc

on: workflow_call

jobs:
  build_4cc:
    name: Build 4cc
    strategy:
      fail-fast: false
      matrix:
        include:
        - suffix: x64-win-dx11
          os: windows-latest
          build_cmd: bin\build.bat /DWIN32_DX11
        - suffix: x64-win-gl
          os: windows-latest
          build_cmd: bin\build.bat /DWIN32_OPENGL
        - suffix: x64-linux
          os: ubuntu-latest
          build_cmd: sudo apt update -y && sudo apt install build-essential libx11-dev libxfixes-dev libglx-dev mesa-common-dev libasound2-dev libfreetype-dev libfontconfig-dev -y && ./bin/build-linux.sh
        - suffix: x64-mac
          os: macos-15-intel
          build_cmd: ./bin/build-mac.sh
        # - suffix: arm64-mac
        #   os: macos-latest
        #   build_cmd: arch -arch x86_64 ./bin/build-mac.sh
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: ilammy/msvc-dev-cmd@v1.4.1  # this is a no-op on Linux and macOS
    - name: Build 4cc-${{ matrix.suffix }}
      run: cd code && ${{ matrix.build_cmd }} && cd ..
    - name: Generate 4cc Artifacts
      uses: actions/upload-artifact@v4.6.0
      with:
        name: 4cc-${{ matrix.suffix }}
        path: build/

