name: Upload 4cc

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  build_4cc:
    uses: ./.github/workflows/build.yml

  create_gh_release:
    if: github.ref_type == 'tag'
    needs: build_4cc
    name: Upload
    runs-on: ubuntu-latest
    steps:
    - name: Download 4cc Artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts_dir
        pattern: 4cc-*
    - run: |
        cd artifacts_dir
        for f in ./* ; do zip -r "$f.zip" $f ; done;
    - name: Upload Artifacts to Release
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts_dir/4cc-*.zip
