name: Download

on:
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  build_4cc:
    uses: ./.github/workflows/build.yml

  publish_release:
    if: github.ref_type == 'tag' || github.ref == 'refs/heads/master'
    needs: build_4cc
    name: Upload Release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      RELEASE_NAME: ${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
      RELEASE_TITLE: ${{ github.ref_type == 'tag' && github.ref_name || 'Latest' }}
      
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Create Release Exists
      run: |
        if ! gh release view "$RELEASE_NAME" --repo "${{ github.repository }}"; then
          gh release create "$RELEASE_NAME" --repo "${{ github.repository }}" --title "$RELEASE_TITLE" --notes " "
        fi

    - name: Download 4cc Artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts_dir
        pattern: 4cc-*

    - run: |
        cd artifacts_dir
        for f in ./* ; do zip -r "$f.zip" $f ; done;

    - name: Upload to Release
      run: gh release upload "$RELEASE_NAME" artifacts_dir/4cc-*.zip --repo "${{ github.repository }}" --clobber
